p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
}
h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;

  color: #212353;
}
h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;

  color: #212353;
}
h4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

i {
  color: #9b69e2;

  width: 30px;
  margin-left: 5px;
}
