body,
h1,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
body {
  background: white;
  position: relative;
  .gradient {
    position: absolute;
    width: 100%;
    height: 780px;
    background: rgb(255, 2z55, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 250, 253, 1) 0%,
      rgba(246, 250, 253, 1) 0%,
      rgba(143, 143, 143, 0) 100%
    );
    z-index: -10;
  }
}

.main-header__wrapper,
.section-wrapper {
  max-width: 1120px;
  height: 560px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding-top: 74px;
  margin-bottom: 137px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
.logo {
  display: flex;
  align-items: flex-end;
  height: 35px;

  img {
    margin-right: 10px;
  }
}
.navigation {
  display: flex;
  align-items: center;

  &__li {
    list-style: none;
    margin-right: 43px;

    a {
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      color: #4b5d68;

      &:hover,
      &:active {
        font-style: normal;
        font-weight: 800;
        color: #212353;
      }
    }
  }
}

.basic {
  width: 100%;
  border-radius: 50px;

  display: flex;
}
.top {
  width: 100%;

  .btn--link {
    background-color: #9c69e2;

    &:hover {
      background-color: #623c97;
    }
  }
}
.main-header {
  height: 810px;
  background-image: url(../assets/backgrounds/section_top.svg);
  background-position-x: 72%;
  background-position-y: 105%;
  background-size: 43%;
  background-repeat: no-repeat;
}
.text-content {
  width: 52%;

  p {
    color: #4b5d68;
    margin-top: 64px;
    margin-bottom: 73px;
    max-height: 110px;
    overflow: hidden;
  }

  .top__description {
    width: 63%;
    height: 111px;
  }
}

.basic--pink {
  background-color: rgba(94%, 39%, 72%, 0.15);
  justify-content: flex-end;
  margin-top: 123px;

  background-image: url(../assets/backgrounds/section_storage_bank.svg);
  background-repeat: no-repeat;
  background-position: left 50%;

  .text-content {
    width: 42%;
    height: 300px;
    margin: 115px 100px 130px 0;

    p {
      margin-top: 40px;
    }
  }
}
.basic--features {
  display: flex;
  justify-content: center;
  margin-top: 62px;
  margin-bottom: 100px;
}
.item {
  display: flex;
  justify-content: end;
  height: 354px;

  background-repeat: no-repeat;
  background-position-x: right;
  &--1 {
    background: url(../assets/backgrounds/item1.png);
    background-repeat: no-repeat;
    background-position-x: right;
  }
  &--2 {
    background-image: url(../assets/backgrounds/item2.png);
  }
  &--3 {
    background-image: url(../assets/backgrounds/item3.png);
  }
  &--4 {
    background-image: url(../assets/backgrounds/item4.png);
  }
}
.grid-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 55px;

  margin-top: 100px;
  .text {
    width: 100%;

    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    p {
      width: 600px;
      margin: 0 auto;
    }
  }
}

.card {
  text-decoration: none;
  color: #444;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-top: 10px;
  width: 50%;
  min-height: 100%;
  margin-right: 53px;
  position: relative;
  top: 0;
  p {
    height: 150px;
    overflow: hidden;
    font-size: 15px;
  }

  a {
    color: #212353;

    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
  }
}

.basic-testimonials {
  background-color: #9c69e2;
  height: 709px;
  position: relative;
  margin-bottom: 100px;
  margin-top: 152px;

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    color: #4b5d68;
  }

  h3 {
    top: 109px;
    left: 91px;
    position: absolute;
    color: white;
  }

  &:after {
    content: "";
    position: absolute;
    background: #e5e5e5;
    left: 0;
    bottom: -150px;
    width: 100%;
    height: 2px;
  }

  .comment {
    position: absolute;
    top: 242px;
    left: 237px;
    width: 645px;
    height: 330px;
    background-color: white;
    box-shadow: 0px 20px 0px 0px rgba(138, 86, 219, 0.3);
    border-radius: 20px;
    display: flex;
    justify-content: center;
  }
}
.comment__item {
  margin: 90px 90px 20px 0;

  &-text {
    margin-top: 18px;
  }

  .name {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;

    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
  }

  .site {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #9c69e2;
  }
}
.comment__icon {
  margin: 68px 30px 20px 70px;
}

.basic--try {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 231px;
}
.basic--try__text {
  margin-top: 10px;
  h3 {
    margin-bottom: 17px;
  }
}
.basic--try__btns {
  margin-top: 30px;

  .btn--link {
    background-color: #f063b8;
    &:hover {
      background-color: #df4ea5;
    }
  }

  .btn--request {
    margin-left: 30px;
  }
}

form {
  display: inline;
}
footer {
  margin-top: 170px;
}
.footer__grid {
  display: grid;

  grid-template-columns: 42% repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.footer__item {
  display: flex;
  flex-direction: column;
  height: 260px;

  span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;

    color: #212353;
  }

  .footer__logo {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 10px;
    }
  }
  .footer__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: 25px;
  }

  .footer__menu {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 250%;

    color: #212353;

    &:hover {
      font-weight: 500;
    }
  }

  p {
    max-width: 261px;
  }
}

.card__picture {
  display: flex;

  img {
    align-self: center;
  }
}
.footer__media {
  margin-top: 30px;
  display: flex;
}
a.facebook {
  background-image: url(../assets/icons/f.svg);
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
a.facebook:hover {
  background-image: url(../assets/icons/facebook.svg);
  margin-right: 20px;
}

a.twitter {
  background-image: url(../assets/icons/t.svg);
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
a.twitter:hover {
  background-image: url(../assets/icons/twitter.svg);
  margin-right: 20px;
}

a.instagram {
  background-image: url(../assets/icons/i.svg);
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
a.instagram:hover {
  background-image: url(../assets/icons/instagram.svg);
  margin-right: 20px;
}

.copyright {
  margin-top: 93px;

  p {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
  }
}

@import "texts-style";
@import "btn";
